body{
    background-color: brown;
}
.text-block{
    width: 1200px;
    margin: 200px auto;
    background-color: white;
}
.text-block-item{
    width: 30%;
    /*border: 1px solid black;*/
    padding: 16px 24px;
    text-align: center;
    float: left;        /* float: left; => obyektlarni yonma-yon qo'yish kodi */
    box-sizing: border-box;
    margin: 0 20px;
}
.clear{
    clear: both;
}
